<!DOCTYPE html>
<html>
<head>
  <title>BackbonePortfolio</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<section id="header">
</section>

<section class="clearfix" id="content">
	<!-- backbone will output to this section -->
</section>

<section id="footer">
</section>

<!-- moved here to load all the js after the page loads -->
<%= javascript_include_tag "application" %>

</body>
</html>
